.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ai-center {
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

/* Nav Bar CSSS */

.nav-bar {
  width: 65%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Background Img */

body {
  background-image: url('https://64.media.tumblr.com/064a773256077998ea0a5948f6432666/tumblr_mqkb2fUwPG1qj06a9o2_1280.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Avatar CSS */
.home-avatar {
  background-color: #d64933;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.intro-avatar {
  background-color: #d64933;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.intro {
  margin-top: 100px;
  margin-bottom: 300px;
}

.personal-intro {
  margin-top: 50px;
}

/* Button CSS */

.nav-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 7px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  background: #2b303a;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nav-button:hover,
.nav-button:focus {
    background: #1b1e24;
}

.nav-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.nav-button:active {
    transform: scale(0.97);
}

/* Basic Styles */

h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.font {
  color: #d64933;
  font-family: 'Inter', sans-serif;
}

p {
  width: 375px;
  text-align: center;
}